services:
  - type: web
    name: deepak-marble-backend
    env: node
    buildCommand: cd Server && npm install && npm run build
    startCommand: cd Server && npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 4000
      - key: MONGO_URI
        sync: false
    healthCheckPath: /api/contacts


